@font-face{
	font-family: 'Exo-Medium';
	src:url("Exo-Medium/Exo-Medium.ttf")format("truetype");
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'Exo-Thin';
	src:url("Exo-Thin/Exo-Thin.ttf")format("truetype");
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'Exo-Regular';
	src:url("Exo-Regular/Exo-Regular.ttf")format("truetype");
	font-style:normal;
	font-weight:normal;
}