@charset "UTF-8";
body {
  height: 100%;
  margin: 0;
  color: #fff;
  font-size: 14px;
  padding: 0;
  list-style: none;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: auto;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("Dart Service Manager.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1540px;
  position: relative;
}

.intro__title {
  font-family: 'Raleway-ExtraBold1';
  font-size: calc(20px + 35 * (100vw / 1600));
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro__subtitle {
  font-family: 'Raleway-Regular';
  font-size: calc(13px + 5 * (100vw / 1600));
  line-height: calc(20px + 15 * (100vw / 1600));
}

/*!!!!!!!!!!ШРИФТ!!!!!!!!! EXCELLENT*/
.intro__btn {
  font-family: 'Roboto-Regular';
  display: inline-block;
  vertical-align: top;
  font-size: calc(10px + 5 * (100vw / 1600));
  padding: 15px 37px;
  color: #fff;
  background: #061e37;
  text-transform: uppercase;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: -1px 2px 4px #000;
          box-shadow: -1px 2px 4px #000;
  margin: 25px 30px 0 0;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.intro__btn2 {
  font-family: 'Roboto-Regular';
  display: inline-block;
  vertical-align: top;
  font-size: calc(10px + 5 * (100vw / 1600));
  padding: 15px 25px;
  color: #061e37;
  background: #fff;
  text-transform: uppercase;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: -1px 2px 4px #000;
          box-shadow: -1px 2px 4px #000;
  margin: 25px 0;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.intro__btn:hover {
  color: #061e37;
  background: #fff;
}

.intro__btn2:hover {
  color: #061e37;
  background: #fff;
}

.intro__content {
  display: block;
  max-width: 570px;
}

.intro__video {
  position: absolute;
  right: 0;
  top: 0;
}

.intro__video img {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header--fixed {
  padding: 20px 0;
  background: #1de9b6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/*!!!!!!!!!!!!!!!ЛОГОТИП НЕПОНЯТЕН!!!!!!!!!!!!!!!!!*/
.header__logo {
  position: relative;
}

.header__logo1 {
  font-family: 'Raleway-Regular';
  text-transform: uppercase;
  margin: 0 43px;
}

.header__logo2 {
  font-family: 'Raleway-ExtraBold';
  text-transform: uppercase;
  margin: 0 43px;
}

.header__logo:before {
  content: "";
  position: absolute;
  background: url(Shape1.jpg) 0 0 no-repeat;
  width: 100%;
  height: 100%;
  top: 2px;
  left: 0;
}

/*!!!!!!!!!!NAV!!!!!!!!!!*/
.nav {
  font-family: 'Raleway-SemiBold';
  display: block;
}

.nav__link {
  font-size: calc(12px + 3 * (100vw / 1600));
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  color: #fff;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.nav__link:hover {
  color: #061e37;
}

.nav__link.active {
  color: #061e37;
}

.btn {
  font-family: 'Raleway-Regular';
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  border: 1px solid #fff;
  padding: 6px 18px;
  color: #fff;
  border-radius: 1px 1px 1px 1px;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.btn:hover {
  color: #061e37;
  background: #fff;
}

/*nav toggle*/
.nav-toggle {
  width: 30px;
  padding: 15px 0;
  position: absolute;
  display: none;
  top: 2px;
  right: 0;
  z-index: 1;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.section {
  padding: 100px 0;
}

.section__header {
  width: 100%;
  max-width: 560px;
  margin: 0 auto 40px;
  text-align: center;
}

.section__title {
  font-family: 'Raleway-SemiBold';
  color: #061e37;
  font-size: 45px;
  margin-bottom: 9px;
}

.section__subtitle {
  font-family: 'Raleway-SemiBold';
  color: #b0bec5;
  font-size: 25px;
}

.section__text {
  font-family: 'Raleway-Regular';
  color: #b0bec5;
  font-size: 15px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 95px 0 60px;
}

.about__item {
  width: 33.333333%;
  color: #061e37;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.about__icon {
  margin-bottom: 40px;
  width: 60px;
}

.about__icon.icon2 {
  margin-top: -20px;
}

.about__title {
  font-family: 'Raleway-SemiBold';
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.about__text {
  font-family: 'Raleway-Regular';
  font-size: 15px;
}

.btn__ok {
  font-family: 'Raleway-Bold';
  display: inline-block;
  vertical-align: top;
  max-width: 1440px;
  text-transform: uppercase;
  background: #1de9b6;
  color: #fff;
  border-radius: 5px;
  padding: 19px 25px;
  -webkit-box-shadow: 3px 3px 6px #cecece;
          box-shadow: 3px 3px 6px #cecece;
  text-align: center;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.btn__ok:hover {
  color: #1de9b6;
  background: #fff;
}

.about__btn {
  text-align: center;
}

/*STAT*/
.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat__img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;
}

.stat__block img {
  display: inline-block;
  margin: auto;
  height: 20px;
  text-align: center;
}

.stat__item {
  width: 100%;
  padding: 40px 0px 40px;
  font-family: 'Raleway-ExtraBold1';
  font-size: 20px;
  color: #FFF;
}

.stat__item1 {
  background: #80d8ff;
}

.stat__item2 {
  background: #82b1ff;
}

.stat__item3 {
  background: #b388ff;
}

.stat__item4 {
  background: #ea80fc;
}

/*WEDO*/
.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.wedo__item {
  width: 100%;
}

.accordion {
  color: #061e37;
}

.accordion__item {
  -webkit-box-shadow: 0px 0px 8px #c0c0c0;
          box-shadow: 0px 0px 8px #c0c0c0;
  margin-bottom: 18px;
}

.accordion__item__active {
  -webkit-box-shadow: 0px 0px 16px #c0c0c0;
          box-shadow: 0px 0px 16px #c0c0c0;
}

.accordion__item__active
.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion__item__active
.accordion__header:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 25px 26px;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-bottom: 5px solid #061e37;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 45%;
  right: 24px;
  z-index: 1;
}

.accordion__icon {
  padding-right: 25px;
}

.accordion__title {
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
}

.accordion__image {
  border-radius: 4%;
  width: 232px;
  height: 155px;
  float: left;
}

.accordion__content p {
  font-family: 'Raleway-Regular';
  padding-left: 26px;
  line-height: 25px;
  float: left;
}

.accordion__content {
  display: none;
  padding: 24px 26px;
  font-weight: 600;
}

.wedo__end {
  margin-bottom: 50px;
}

.section__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 93px;
  background: url("Rectangle.jpg") center no-repeat;
  background-size: cover;
  margin: auto;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.reviews__title {
  font-family: 'Raleway-SemiBold';
  font-size: 45px;
  margin-bottom: 20px;
}

.reviews__subtitle {
  font-family: 'Raleway-SemiBold';
  margin-bottom: 40px;
}

.reviews__btn {
  font-family: 'Raleway-Bold';
  display: inline-block;
  vertical-align: top;
  font-size: calc(10px + 5 * (100vw / 1600));
  padding: 17px 28px 15px 28px;
  color: #fff;
  background: #061e37;
  text-transform: uppercase;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: -1px 2px 4px #000;
          box-shadow: -1px 2px 4px #000;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.reviews__btn:hover {
  color: #061e37;
  background: #fff;
}

.reviews__content {
  display: block;
  max-width: 515px;
  margin: auto;
}

.reviews__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 762px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  padding-left: 95px;
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 25%;
  left: 20px;
  z-index: 1;
  width: 55px;
  text-align: center;
}

.reviews__img img {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.reviews__box {
  background: #fff;
  padding: 32px 36px 28px 32px;
  max-width: 700px;
}

.reviews__slider__up {
  position: relative;
  max-width: 700px;
}

.reviews__box h1 {
  font-family: 'Raleway-Bold';
  color: #061e37;
  padding-bottom: 15px;
}

.reviews__box h3 {
  font-family: 'Raleway-Regular';
  color: #78909c;
  font-style: italic;
  line-height: 25px;
}

/*team*/
.team__header {
  width: 100%;
  max-width: 560px;
  margin-top: 40px;
}

.team__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.team__img img {
  display: inline-block;
  height: 90px;
  border-radius: 50%;
}

.team__img.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px 1px #dedede;
          box-shadow: 0px 0px 50px 1px #dedede;
  height: 200px;
  width: 200px;
}

.team__img.active img {
  display: inline-block;
  height: 130px;
  margin: auto;
  border-radius: 50%;
}

.team__description {
  padding-top: 40px;
  text-align: center;
  max-width: 653px;
  margin: auto;
}

.team___name {
  font-family: 'Raleway-Bold';
  color: #061e37;
  font-size: 18px;
}

.team__about {
  padding-top: 15px;
  font-family: 'Raleway-Regular';
  color: #90a4ae;
  line-height: 24px;
}

.team__icons {
  margin-top: 30px;
}

.team__icons img {
  padding: 0 10px 0 10px;
  margin-bottom: 89px;
}

/*contact*/
.section__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 800px;
  background: #fafafa;
  background-size: cover;
}

.section__contact .container {
  margin: auto;
  padding-bottom: 290px;
}

.section__text.contact {
  color: #061e37;
}

/*send*/
.send {
  max-width: 595px;
  margin: auto;
}

.send input {
  font-family: 'Raleway-Medium';
  border-radius: 5px 5px 5px 5px;
  background: #fafafa;
  font-size: 14px;
  padding-left: 14px;
  width: 47%;
  height: 45px;
}

.send__big input {
  width: 100%;
  height: 100px;
  padding-bottom: 55px;
}

.send__padding {
  margin-right: 5%;
  margin-bottom: 3%;
}

.send__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Raleway-Medium';
  margin-top: 25px;
  color: #061e37;
}

.send__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send__nav label {
  font-size: calc(9px + 6 * (100vw / 1600));
  margin: auto;
  padding-left: 10px;
}

.send__nav #send__checkbox {
  width: 20px;
}

.send__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 240px;
}

.send__bottom input {
  font-family: 'Raleway-Medium';
  padding: 0;
  background: #1de9b6;
  color: #fff;
  border: 0;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
  cursor: pointer;
}

.send__bottom input:hover {
  color: #1de9b6;
  background: #fff;
}

/*footer*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: #061e37;
  padding: 50px;
}

footer .container {
  text-align: start;
  padding: 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner a {
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.footer__inner a:hover {
  color: #1de9b6;
}

.footer__logo {
  position: relative;
}

.footer__logo:before {
  content: "";
  position: absolute;
  background: url(Shape1.jpg) 0 0 no-repeat;
  width: 100%;
  height: 100%;
  top: 2px;
  right: 0;
}

.footer__left img {
  width: 2.5%;
}

.footer__box {
  margin-top: 40px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__box a {
  display: block;
  margin-right: 35px;
  font-family: 'Raleway-Regular';
  color: #fff;
  font-size: calc(9px + 6 * (100vw / 1600));
}

.footer__box li:first-child {
  list-style: none;
  margin: auto;
}

.footer ul {
  padding-left: 0;
}

.footer__right {
  position: relative;
}

.footer__menu {
  display: block;
  margin-top: 4%;
}

.footer__menu a {
  font-family: 'Raleway-SemiBold';
  color: #fff;
  padding-left: 45px;
}

.footer__socials {
  padding-top: 40px;
  display: block;
  position: absolute;
  right: 0;
}

.footer__socials img {
  padding-left: 15px;
}

@media (max-width: 1251px) {
  .intro__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__review {
    width: 100%;
    height: 1000px;
  }
  .reviews__content {
    display: block;
    max-width: 515px;
    margin: 0;
    padding-bottom: 600px;
  }
  .reviews__people {
    display: block;
    position: absolute;
    top: 350px;
    left: 0;
    max-width: 762px;
  }
  .intro__video {
    position: relative;
  }
}

@media (max-width: 1044px) {
  .container {
    padding: 0 30px;
  }
  .nav__link {
    margin: 0 13px;
  }
  .stat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stat__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 0 40%;
  }
  .team__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  .section__contact {
    height: 880px;
  }
  .footer {
    height: 400px;
  }
  .footer__right {
    position: absolute;
    bottom: 210px;
  }
  .footer__right a {
    margin: 0;
    font-family: 'Raleway-SemiBold';
    color: #fff;
    padding-left: 0;
    padding-right: 15px;
  }
  .footer__right .footer__socials {
    padding-top: 20px;
    display: block;
    position: absolute;
    left: 0;
  }
  .footer__right .footer__socials img {
    padding-left: 0;
    padding-right: 10px;
  }
}

@media (max-width: 750px) {
  .intro {
    min-height: 850px;
  }
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__item {
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
  }
  .about__item--border {
    border-bottom: 1px solid #e5e5e5;
  }
  .menu {
    display: none;
    background: #f1f2f4;
    position: absolute;
  }
  .nav__link,
  .btn {
    float: none;
  }
  .nav-toggle {
    display: inline-block;
  }
  .reviews__box h3 {
    text-overflow: ellipsis;
    height: 100px;
    overflow: hidden;
  }
  .stat__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 0 37%;
  }
}

@media (max-width: 530px) {
  .intro {
    min-height: 750px;
  }
  .header {
    padding-top: 30px;
  }
  .container {
    padding: 0 25px;
  }
  .accordion__item__active .accordion__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .accordion__item__active .accordion__content img {
    width: 100%;
    height: 100%;
  }
  .accordion__item__active .accordion__content p {
    padding: 0;
  }
  .team__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 200px;
  }
  .team__slider .team__img {
    margin-bottom: 25px;
  }
  .team__slider .team__img .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /*margin-right: 170px;*/
  }
  .reviews__people {
    top: 369px;
  }
}

@media (max-width: 495px) {
  .reviews__people {
    top: 408px;
  }
  .stat__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 0 33%;
  }
  .send__big input {
    width: 100%;
    height: 100px;
    padding-bottom: 65px;
  }
  .send__nav {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .send__padding {
    margin: 0;
  }
  .send input {
    width: 100%;
    height: 45px;
    margin-top: 13px;
  }
  .send__big input {
    width: 100%;
    height: 100px;
    padding-bottom: 65px;
  }
  .section__contact {
    height: 1040px;
  }
  .send__bottom input {
    width: 90px;
  }
  #send__checkbox {
    margin: auto;
  }
}

@media (max-width: 387px) {
  .reviews__people {
    top: 466px;
  }
  .reviews__content {
    margin-top: 20px;
  }
  .send__nav {
    font-size: 11px;
  }
  .footer__right {
    margin-bottom: 20px;
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .intro {
    min-height: 700px;
  }
  .nav__link {
    font-size: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px)/ 1600));
  }
  .header {
    padding-top: 20px;
  }
  .intro__title {
    font-size: calc(28px + (27 + 27 * 0.7) * ((100vw - 320px)/ 1600));
  }
  .intro__subtitle {
    font-size: calc(13px + (5 + 5 * 0.7) * ((100vw - 320px) / 1600));
    line-height: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1600));
  }
  .intro__btn {
    font-size: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px)/ 1600));
  }
  .intro__btn2 {
    font-size: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px)/ 1600));
  }
  .accordion__item.active
.accordion__content p {
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .send__bottom input {
    width: 90px;
  }
  .footer__box {
    margin-top: 30px;
  }
  .footer__box .footer__noli {
    padding-top: 4px;
  }
  .reviews__people {
    top: 480px;
  }
  .stat__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 0 27%;
  }
  .send__nav {
    font-size: 10px;
  }
  .footer__box {
    margin-bottom: 50px;
  }
  .footer__box a {
    margin-right: 22px;
  }
}

@media (max-width: 320px) {
  .reviews__people {
    top: 504px;
  }
  .reviews__box h3 {
    height: 70px;
  }
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 70px;
    padding-left: 95px;
    position: relative;
    margin-left: -30px;
  }
  .stat__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 0 23%;
  }
  .team__icons img {
    width: 38px;
  }
  .footer__box {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=my.css.map */